html {
  /*height: 100vh;*/
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*border: 3px solid green;*/
  height: 100%;
  margin: 0;
  padding: 0;
}
body * {
  margin: 0;
  padding: 0;
}
.main {
  /*-webkit-border: 1px solid green;
  -moz-border: 1px solid green;
  border: 1px solid green;*/
  display: flex;
  height: 85%;
}
.sideBar {
  position: relative;
  z-index: 1000;
  flex-direction: column;
  justify-content: flex-end;
  width: 25em;
  background-color: whitesmoke;
  height: 100%;
}
.sideBar div {
  flex: 1;
  padding: 1em;
  padding-left: 0;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  overflow: hidden;
  text-align: right;
}
.sideBar,
.demo {
  min-height: 100%;
}
.sideBar div span,
.sideBar div input {
  text-align: right;
}
.flex {
  display: flex;
}
.hgroup {
  justify-content: space-between;
  padding: 1em;
}
.controls {
  flex-direction: column;
  flex: 1;
}
.controls div {
  flex: 1;
  justify-content: flex-end;
}
.flex-container {
  /*border: 1px solid red;*/
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.flex-container div {
  justify-content: space-around;
  margin: .5em;
  text-align: center;
}
.flex-container div span {
  display: inline-block;
  align-self: center;
}
.flex-item {
  flex: 1 auto;
}
figure div {
  display: inline-flex;
  position: relative;
  justify-content: center;
}
footer {
  /*border: 1px solid red;*/
  background-color: #36e4ed;
}
footer pre {
  background: #000;
  border-radius: 5px;
  color: #fff;
  flex: 2;
}
footer .caniuse {
  flex: 1;
  background: #777077;
  border: 1px solid green;
  border-radius: 5px;
}
