body {
  /*position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 100vh;*/
  margin: 0;
}
body * {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  height: 85%;
}
.sideBar {
  position: relative;
  z-index: 1000;
  flex-direction: column;
  justify-content: flex-end;
  width: 25em;
  background-color: whitesmoke;
  height: 100%;
  flex: 0 0 auto;
}
.sideBar div {
  flex: 1;
  padding: 1em;
  padding-left: 0;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  overflow: hidden;
  text-align: right;
  font-size: 1.2em;
}
.sideBar div input {
  background-color: #e1e1e1;
  border-radius: 5px;
}
.sideBar div code {
  font-size: 0.85em;
}
.count-controls {
  width: 1.8em;
  padding: 2px;
}
.sideBar,
.demo {
  min-height: 100%;
}
.sideBar div span,
.sideBar .ui input {
  text-align: right;
  width: 4em;
  padding: 5px 10px;
  text-align: center;
}
.sideBar div span:focus,
.sideBar .ui input:focus {
  background-color: #cff7ea;
  color: #000;
}
.ui.selection.dropdown {
  padding: 0;
  min-width: 10px;
}
.flex {
  display: flex;
}
.hgroup {
  justify-content: space-between;
  padding: 1em;
}
.controls {
  flex-direction: column;
  flex: 1;
}
.controls div {
  flex: 1;
  justify-content: flex-end;
}
.flex-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.flex-container div {
  justify-content: space-around;
  margin: .5em;
  text-align: center;
}
.flex-container div span {
  display: inline-block;
  align-self: center;
}
.flex-item {
  flex: 1 auto;
}
figure div {
  display: inline-flex;
  position: relative;
  justify-content: center;
}
footer {
  background-color: #555;
  padding: 1em;
}
footer pre {
  background: #444;
  border-radius: 5px;
  padding: 2em;
  color: #fff;
  flex: 3;
  overflow: hidden;
}
footer .caniuse {
  flex: 2;
  border-radius: 5px;
  color: white;
  padding: 1em;
  line-height: 2.8em;
}
footer .caniuse a {
  text-decoration: none;
  color: white;
  font-size: 2.5em;
}
footer .caniuse h3 {
  margin-top: 5em;
  display: inline-block;
}
footer .caniuse h3:hover {
  color: red;
  transform: rotate(20deg);
  transform-origin: center;
}
footer .caniuse .card {
  flex: 1;
}
@media all and (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  main aside,
  main figure {
    flex: 1 1 auto;
  }
}
